$mainColor: #3399CC;

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 85%;

  header {
    float: left;
    position: fixed;
    width: 270px;

    a {
      color: $mainColor;
      font-weight: bold;
      text-decoration: none;

    }
  }

  footer {
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  .content {
    float: right;
    padding-bottom: 50px;
    width: 500px;
  }
}

h1 {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
